.elastislide-list {
    list-style-type: none;
    display: none;
}

.no-js .elastislide-list {
    display: block;
}

.elastislide-carousel ul li {
    min-width: 20px; /* minimum width of the image (min width + border) */
}

.elastislide-wrapper {
    position: relative;
    margin: 0 auto 20px auto;
    min-height: 60px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.light .elastislide-wrapper {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.elastislide-wrapper.elastislide-loading {
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.elastislide-horizontal {
    padding: 10px 40px;
}

.elastislide-carousel {
    overflow: hidden;
    position: relative;
}

.elastislide-carousel ul {
    position: relative;
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.elastislide-horizontal ul {
    white-space: nowrap;
}

.elastislide-carousel ul li {
    margin: 0;
    -webkit-backface-visibility: hidden;
}

.elastislide-horizontal ul li {
    height: 100%;
    display: inline-block;
    margin: 0 15px;
}

.elastislide-carousel ul li a {
    display: inline-block;
    width: 100%;
}

.elastislide-carousel ul li a img {
    display: block;
    max-width: 100%;
}

/* Navigation Arrows */

.elastislide-wrapper nav span {
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #DDDDDD;
    cursor: pointer;
    text-align: center;
    margin-top: -15px;
    -webkit-transition: 0.2s all linear;
    -moz-transition: 0.2s all linear;
    transition: 0.2s all linear;
}

.elastislide-wrapper nav span:before {
    font-family: 'FontAwesome';
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    content: '\f104';
}

.elastislide-wrapper nav span:hover {

}

.elastislide-horizontal nav span {
    top: 50%;
    left: 10px;
}

.elastislide-horizontal nav span.elastislide-next {
    right: 10px;
    left: auto;
    text-align: center;
}

.elastislide-horizontal nav span.elastislide-next:before {
    font-family: 'FontAwesome';
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    content: '\f105';
    margin-left: 3px;
}

.light .elastislide-wrapper nav span {
    border-color: #FFFFFF;
}

.light .elastislide-wrapper nav span:before,
.light .elastislide-horizontal nav span.elastislide-next:before {
    color: #FFFFFF;
}