@import url("../brooklyn/style.css");

/*
Theme Name: Brooklyn Child
Theme URI: http://www.unitedthemes.com
Description: Creative Portfolio
Version: 2.8.5
Author: United Themes
Author URI: http://www.unitedthemes.com
Template: brooklyn
*/
#clients .clientBox {
    position: relative;
    height: 255px;
}

#clients .clientBox.fintech .hover-content {
    background: #00ccbd;
}

#clients .clientBox.payment-management .hover-content {
    background: #e4e726;
    color: #2f2f45;
}

#clients .clientBox.payment-management .hover-content h2 {
    color: #2f2f45;
}

#clients .clientBox.payment-management .hover-content a {
    color: #2f2f45;
    text-decoration: underline;
}

#clients .clientBox.payment-management .hover-content a:first-child {
    text-decoration: none;
}

#clients .clientBox.fares .hover-content {
    background: #ea4c97;
}

#clients .clientBox .hover-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 10px;
    overflow: hidden;
    color: #fff;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s;
}

#clients .clientBox .hover-content a {
    color: #fff;
    text-decoration: underline;
}

#clients .clientBox .hover-content a:first-child {
    text-decoration: none;
}

#clients .clientBox .hover-content p {
    margin-bottom: 0px;
}

#clients .clientBox .hover-content h2 {
    color: #fff;
}

#clients .clientBox:hover .hover-content {
    opacity: 1;
}

.ut-mm-button:before {
    content: "\f0c9";
    color: #2F2F45;
}

.ut-header-light .ut-mm-button:before {
    color: #2F2F45 !important;
}

.elastislide-horizontal {
    padding: 20px 40px;
}

.elastislide-wrapper {
    border-bottom: 0px;
    margin: 0 auto;
}

.elastislide-wrapper nav span:before {
    line-height: 18px;
    font-size: 25px;
}

.elastislide-horizontal nav span.elastislide-next:before {
    line-height: 18px;
    font-size: 25px;
}

.blogCarouselItem {
    width: 33.33333333333333333%;
    height: 400px;
    position: relative;
    display: table;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.blogCarouselItem .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s;
}

.blogCarouselItem .innerOverflow {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
}

.blogCarouselItem .inner {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.blogCarouselItem a {
    display: table;
    width: 100%;
    height: 100%;
}

.blogCarouselItem h3 {
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    font-family: Dosis, 'Helvetica' !important;
    padding: 0 30px;
}

.blogCarouselItem .imageHolder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.8s;
    /* Safari */
    transition: all 0.8s;
    transform: scale(1);
    background-size: cover;
}

.blogCarouselItem:hover .imageHolder {
    transform: scale(1.1);
}

.blogCarouselItem:hover .overlay {
    opacity: 0.3;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -ms-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity, height;
    -moz-transition-property: -moz-transform, opacity, height;
    -ms-transition-property: -ms-transform, opacity, height;
    -o-transition-property: -o-transform, opacity, height;
    transition-property: transform, opacity, height;
}

/* ****************** */
/* HOMEPAGE BRANCHES */
/* ****************** */
.home .hero-title {
    line-height: 90px;
}

.home .hero-title img {
    margin-bottom: 10px;
}

.home #homepageBlurb {
    position: absolute;
    bottom: 200px;
    opacity: 0;
    right: 0px;
    background-color: #fff;
    background-repeat: no-repeat;
    color: #2f2f45;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 0px 20px;
    line-height: 25px;
    display: table;
    z-index: 10;
    border-radius: 600px;
    -webkit-border-radius: 600px;
    -moz-border-radius: 600px;
    -webkit-transition: all 0.3s;
    /* Safari */
    transition: all 0.3s;
}

.home #homepageBlurb.show {
    bottom: 50px;
    opacity: 1;
}

.home #homepageBlurb .inner {
    display: table-cell;
    vertical-align: middle;
}

.home #homepageBlurb .text {
    position: relative;
}

.home #homepageBlurb .text:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    width: 80px;
    height: 1px;
    background: #2f2f45;
    margin-left: -40px;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
}

.home #homepageBlurb .text:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80px;
    height: 1px;
    background: #2f2f45;
    margin-left: -40px;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
}

.home #homepageBlurb .text p {
    margin-bottom: 0;
}

.home #homepageBlurb:hover {
    color: #f74be5;
}

.home #homepageBlurb:hover .text:before {
    top: -14px;
    margin-left: -20px;
    width: 40px;
}

.home #homepageBlurb:hover .text:after {
    bottom: -14px;
    margin-left: -20px;
    width: 40px;
}

.home .hero-holder {
    z-index: 10;
}

.home #homepageIllustration {
    width: 100%;
    position: absolute;
    left: 20%;
    bottom: -50px;
    height: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    opacity: 0;
    -webkit-transition: all 1s;
    /* Safari */
    transition: all 1s;
}

.home #homepageIllustration img {
    position: absolute;
    bottom: 0px;
    left: 0;
}

.home #homepageIllustration.show {
    height: 800px;
    opacity: 1;
}

.branche {
    text-align: center;
}

.branche.branche-item img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.branche.rounded img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.branche img {
    margin-bottom: 40px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
}

.branche a.button {
    padding: 10px 20px;
    border: 1px solid #2F2F45;
    color: #2F2F45;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: #fff;
}

.branche a.button:hover {
    background: #2F2F45;
    color: #fff;
}

.ut-btn.blue.chescoButton {
    background: #fff;
    padding: 10px 20px;
    border: 1px solid #2F2F45;
    color: #2F2F45 !important;
    font-size: 18px;
    line-height: 25px;
    text-transform: none;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
    /* Safari */
}

.ut-btn.blue.chescoButton:hover {
    background: #2F2F45;
    color: #fff !important;
}

#over-chesco {
    text-align: center;
}

/* ****************** */
/* HOMEPAGE HERO      */
/* ****************** */
.hero {
    height: 85%;
    min-height: 85%;
}

.hdb span {
    width: 50%;
}

/* ****************** */
/* HOMEPAGE TWITTER   */
/* ****************** */
#homepage-twitter .fa-twitter {
    display: none;
}

#homepage-twitter h2 {
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
}

#homepage-twitter .flex-direction-nav {
    display: none;
}

#homepage-twitter .ut-testimonials {
    margin-bottom: 0;
}

/* ****************** */
/* HOMEPAGE COUNTER   */
/* ****************** */
.ut-count {
    font-family: Dosis, 'Helvetica' !important;
    font-weight: 100;
    margin: 20px 0;
}

#counter .fa {
    opacity: 0.8;
    color: #2f2f47 !important;
}

#clients .elastislide-wrapper {
    border-bottom: 0px;
    border-top: 0px;
}

.clientBox {
    text-align: center;
}

/* ****************** */
/* NAVIGATION  */
/* ****************** */
#navigation ul li:after {
    content: '';
}

body #navigation .selected {
    color: #f74be5;
}

body #navigation ul.sub-menu {
    border-color: #f74be5;
}

body #navigation ul li a:hover {
    color: #f74be5;
}

body #navigation ul li a.active {
    color: #f74be5;
}

body #navigation ul li.current_page_parent a.active {
    color: #f74be5;
}

body #navigation ul li.current-menu-ancestor a.active {
    color: #f74be5;
}

#location p {
    margin-bottom: -11px;
}

body .ut-twitter-rotator h2 a {
    color: #f74be5;
}

#coffee {
    padding: 20px;
    position: absolute;
    right: -340px;
    top: 60px;
    height: 30px;
    z-index: 999;
    color: #2F2F45;
    -webkit-transition: all 0.2s;
    /* Safari */
    transition: all 0.2s;
}

#coffee .label {
    padding: 15px 20px;
    float: left;
    color: #2F2F45;
    background: #F4F40B;
    -webkit-border-radius: 3px;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 3px;
    -moz-border-radius-topright: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#coffee .contact {
    padding: 16px;
    text-align: left;
    overflow: hidden;
    overflow-x: hidden;
    width: 320px;
    height: 150px;
    font-size: 16px;
    background: #F4F40B;
    -webkit-border-radius: 0px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius: 0px;
    -moz-border-radius-bottomleft: 3px;
    border-radius: 0px;
    border-bottom-left-radius: 3px;
    line-height: 28px;
}

#coffee .contact .mail {
    margin-top: 10px;
}

#coffee .contact a {
    color: #2F2F45;
}

#coffee .contact a:hover {
    text-decoration: underline;
}

#coffee .contact i {
    margin-right: 10px;
    font-size: 14px;
}

#coffee:hover {
    right: -20px;
}

.contactSocials .grid-33 {
    width: 100%;
    float: none;
}

.contactSocials li {
    padding-left: 0;
}

.contactSocials .ut-social-icon {
    text-align: center;
    margin-left: 0;
    width: 30px;
    height: 30px;
    float: left;
    line-height: 10px;
}

.contactSocials .ut-social-icon i {
    line-height: 0;
    margin-top: 16px;
}

.contactSocials .fa-4x {
    font-size: 1em;
}

.contactSocials h3 {
    float: left;
    margin-top: 4px;
    margin-left: 10px;
    text-transform: capitalize;
}

a.more-link {
    border-top: 1px solid #f2f2f2;
    display: block;
    padding-top: 10px;
    margin-top: 17px;
}

a.more-link .more-link {
    text-align: left;
}

.careerListItem {
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
}
